<div class="contact-content">
  <div class="contact-blurb">
    <span
      >Thank you for your interest! &nbsp;&nbsp;Please fill out this contact
      form and we will be in touch soon.</span
    >
  </div>
  <div class="contact-form-container">
    <iframe
      src="https://www.cognitoforms.com/f/NuHwqfWCm0KYGiJ3tvvtLQ/1"
      allow="payment"
      style="border:0"
      height="700px"
      width="100%"></iframe>
    <script src="https://www.cognitoforms.com/f/iframe.js"></script>
  </div>
</div>

<style>
  .contact-blurb {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding: 0 20px 0 20px;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-form-container {
    margin-top: 100px;
    width: 90%;
    margin: 0 20px 0 20px;
  }
</style>
