<div class="contact-content">
  <div class="contact-blurb">
    <p>
      Thank you for your interest! &nbsp;&nbsp;Please fill out this contact form
      and we will be in touch soon.
    </p>
    <br />
    <p>
      For inquiries about quartet music, please contact <a
        href="https://thestringbeings.com/"
        target="_blank">The String Beings</a
      > and request Clifford as a violinist.
    </p>
    <br />
    <p>If the contact form does not show, please reload the page.</p>
  </div>
  <div class="contact-form-container">
    <iframe
      src="https://www.cognitoforms.com/f/NuHwqfWCm0KYGiJ3tvvtLQ/1"
      allow="payment"
      style="border:0"
      height="670px"
      width="100%"></iframe>
    <script src="https://www.cognitoforms.com/f/iframe.js"></script>
  </div>
</div>

<style>
  a {
    text-decoration: underline;
    font-weight: bold;
  }

  p {
    line-height: 1.5;
    font-size: 1.2rem;

    padding: 0 10px 0 10px;
  }

  .contact-blurb {
    margin-top: 100px;
    text-align: center;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-form-container {
    margin-top: 100px;
    width: 90%;
  }
</style>
