---
//@ts-ignore
import "@fontsource/comfortaa";
---

<h1>
    <div class="header-label-container">
        <label>Clifford Richardson</label>
    </div>
    
</h1>

<style>
    h1 {
        font-family: "comfortaa";
    }
</style>