---
//@ts-ignore
import "@fontsource-variable/open-sans";
import Header from "../components/header/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Clifford Richardson</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="content-container">
        <slot />
      </div>
    </main>
  </body>
</html>

<style>
  .content-container {
    padding: 50px 0px 0 0px;
  }
</style>
